@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
}

* {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --white: #ffffff;
  --blue: #167189;
  --black: #000000;
  --gray: #696868;
  --orange: #ff5f2e;

  /* --light-blue-gradient: #00c5d4;
   */
  --light-blue-gradient: linear-gradient(to bottom, #001f3f, #00c5d4);

  --dark-blue-gradien: #004f7f;

  --gray-gradient: #e6e6e6;
}
