/* .container {
  display: flex;
  flex-wrap: wrap;
}

.newsSection {
  width: 50%;
} */

.container {
  display: flex;
  flex-wrap: wrap;
}

.newsSection {
  width: 100%; /* Initially, each section takes full width */
}

/* Apply responsive styles using media queries */
@media screen and (min-width: 768px) {
  .newsSection {
    width: 50%; /* On screens wider than 768px, each section takes 50% width */
  }
}
