.header {
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 10vh;
}

.top {
  width: 100%;
  padding: 9vh 3vw 3vh 3vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.rightTop {
  width: 66vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: max-content;
  background: var(--light-blue-gradient);
  position: absolute;
  left: 0;
  border-radius: 50%;
  padding: 100px 15px 30px 100px;
  transform: translate(-60px, -60px);
  color: var(--white);
}

.logo img {
  width: 150px;
}

.name {
  color: var(--blue);
  padding-left: 60px;
  display: flex;
}

.name h1 {
  max-width: 46vw;
  width: 100%;
}

.flags {
  /* display: flex; */
  align-items: center;
  margin-left: 30px;
}

.flags img {
  width: 50px;
  height: 30px;
}

.tools {
  margin-top: 4vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.toolsScroll {
  width: inherit;
  padding-bottom: 50px;
  border-bottom: 6px solid var(--blue);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}

.tools p,
a {
  font-size: 18px;
  text-decoration: none !important;
  color: var(--gray) !important;
}

.tools p {
  margin: 0 15px;
}

.tools a:hover {
  text-decoration: underline !important;
}

.tools a {
  white-space: nowrap;
  width: max-content;
}
.DropdownLang {
  background-color: #167189 !important;
  border-radius: 5%;
}
.separator {
  color: var(--blue);
  font-weight: bold;
  margin: 0 0.5rem;
}

@media (max-width: 792px) {
  .logo {
    transform: translate(-80px, -80px);
    padding: 60px 10px 20px 60px;
  }
}

@media (max-width: 574px) {
  .name {
    width: 100%;
  }

  .top {
    width: 100%;
    padding-top: 30px;
    justify-content: center;
  }

  .logo {
    transform: translate(-80px, -80px);
    padding: 40px 10px 10px 40px;
  }
}

@media (max-width: 420px) {
  .logo {
    transform: translate(-100px, -100px);
    padding: 30px 5px 5px 30px;
  }
}

@media (max-width: 320px) {
  .logo {
    transform: translate(-120px, -120px);
    padding: 20px 5px 5px 20px;
  }
}

.logo img {
  width: 150px;
}

@media (max-width: 992px) {
  .logo img {
    width: 120px;
  }
}

@media (max-width: 768px) {
  .logo img {
    width: 90px;
  }
}

@media (max-width: 576px) {
  .logo img {
    width: 70px;
  }
}

@media (max-width: 576px) {
  .logo {
    padding: 60px 10px 30px 40px;
    transform: translate(-30px, -30px);
  }
}

@media (max-width: 420px) {
  .s.dropdownContainer {
    float: center;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #f9f9f9;
}

.dropdownContent a {
  font-size: 18px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: var(--blue);
}
