.slider {
  border-radius: 30px;
  margin: 0 auto;
  overflow: hidden;
  height: 200px;
}

.slide {
  background-size: cover;
  height: 300px;
  /* background-image: url('../../images/slider/abstract-hexagon-pattern-background-medical-and-science-concept-and-structure-molecule-and-communication-free-vector.jpg') !important; */
}
